<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{{ 'Обмен вещами'|trans }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        {% stylesheets
            'assets/bower/font-awesome/css/font-awesome.min.css'
            'assets/bower/addyosmani-jquery-ui-bootstrap/assets/css/bootstrap.min.css'
            'assets/css/site.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block headJavascripts %}
        {% javascripts
            'assets/bower/jquery/dist/jquery.min.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body id="page-top" class="index">
<div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-form navbar-right font">
        {% if (app.request.getLocale == 'ru') %}
            <a class="not-active"
               href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'ru'})) }}">язык
                |</a>
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'ua'})) }}">мова</a>
        {% else %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'ru'})) }}">язык
                |</a>
            <a class="not-active"
               href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : 'ua'})) }}">мова</a>
        {% endif %}
    </div>

    <div class="navbar-header">
        <a title="ШахерМахер" class="navbar-brand" href="/">
            <i style="color: black"> <i style="color: red">Ш</i>ахер </i><br><i style="color: black"><i style="color: red">М</i>ахер</i>   </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <div class="navbar-form navbar-right font">

            <ul class="nav navbar-nav navbar-right">

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}">
                        {{ 'админка'|trans }}
                    </a>
                {% endif %}
                <li title="{{ 'Избранное'|trans }}" class="text-center">
                    <a href="#">
                        <i class="fa fa-heart-o fa-3x"><br></i>
                    </a>
                </li>

                <li title="{{ 'Добавить товар'|trans }}" class="text-center">
                    <a href="{{ path('site_post_exchange') }}">
                        <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
                    </a>
                </li>
                {% if is_granted('ROLE_USER') %}


                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user-o fa-3x"></i> </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-refresh" aria-hidden="true"></i> {{ 'обмен'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('profile_setup') }}">
                                        <i class="fa fa-cog"></i> {{ 'настройки'|trans }}
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>

                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-sign-out"></i> {{ 'выход'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                {% else %}
                    <li title="{{ 'вход'|trans }}" class="text-center">
                        <a href="{{ path('fos_user_security_login') }}">
                            <i class="fa fa-sign-in fa-3x"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.navbar-collapse -->

    {{ wo_render_breadcrumbs() }}
    {% block content %}{% endblock %}
</div>

{% block javascripts %}
    {% javascripts
        'assets/bower/bootstrap/dist/js/bootstrap.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
