{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin'}}) }}
        <div class="col-sm-12">
            <div class="form-group" id="fos_user_registration_form">
                <h3 class="text-center">{% trans %}Регистация{% endtrans %}</h3>
                <div class="input-group">

                    <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="input-group">
                    <span class="input-group-addon glyphicon  glyphicon glyphicon-user"></span>
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
                    {{ form_errors(form.username) }}
                </div>

                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                <div class="input-group">
                    <span style="color: firebrick" class="input-group-addon glyphicon glyphicon-lock"></span>
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>

            </div>

            <div class="text-center" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <input class="btn btn-primary btn-success btn-block"
                           type="submit"
                           value="{{ 'registration.submit'|trans }}">
                </div>
                <div class="btn-group" role="group">
                    <a class="btn btn-primary btn-danger btn-block" href="{{ path('fos_user_security_login') }}"
                       type="button">{{ 'security.login.submit'|trans }}</a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
